table.board {
  border-collapse: collapse;
}

table.board.invalid {
  background-color: lightcoral;
}

td.board {
  border: 1px solid darkgray;
}

input.cell {
  width: 1.5em;
  text-align: center;
}

input.cell[pattern]:invalid {
  color: red;
}

input.cell.pre {
  color: green;
  font-weight: bold;
}

input.cell.solver {
  color: blue;
}
